* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E7E6E1;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

section {
    margin: auto;
}

nav {
    height: 0px;
}

.nav {
    font-family: 'Lobster Two', Helvetica, sans-serif;
    position: relative;
    top: -250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.background {
    position: relative;
    top: 0;
    height: 250px;
    width: 450px;
    background: url('./images/sam-lake-louise.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(247,246,231,1), rgba(247,246,231,0));
}

.name {
    font-size: 32px;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

a:focus {
    color: #384956;
    font-weight: bolder;
}

.sub-heading {
    font-size: 40px;
}

.title {
    font-weight: bold;
    color: #537791;
}

.title {
    transition: color .5s ease;
}

.title:hover {
    color: #384956;
    font-weight: bolder;
}

.personal-photo {
    display: none;
}

.homepage {
    text-align: center;
}

.text-block {
    margin: auto;
}

p {
    margin: 0px 15px;
    line-height: 1.5em;
    font-size: 16px;
    text-align: left;
    color: #384956;
}

.tech-stack-text {
    font-weight: bold;
    font-size: 20px;
}

h2 {
    color: #384956;
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster Two', Helvetica, sans-serif;
    margin: 0px auto;
    padding: 50px;
}

h3 {
    font-family: 'Lobster Two', Helvetica, sans-serif;
    color: #384956;
    text-align: center;
    font-size: 32px;
    margin: 15px;
    transition: color .5s ease;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    background: #fff;
    margin: 25px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #C1C0B9;
    box-shadow: 5px 5px #C1C0B9;
}

.snapshot-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.portfolio-snapshot {
    margin: 25px 0px;
    width: 90%;
    height: 90%;
}

.more-info-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 25px auto;
}

.info-container {
    margin: 25px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #C1C0B9;
    box-shadow: 5px 5px #C1C0B9;
}

.contact-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto;
}

.embedded-link {
    color: #537791;
    transition: color 1s ease;
}

.embedded-link:hover {
    color: #384956;
    font-weight: bold;
}

.links {
    font-size: 24px;
    color: #384956;
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo-image {
    width: 50px;
    margin: 5px;
}

.contact {
    color: #384956;
    font-weight: bolder;
}

footer {
    padding: 150px 20px 20px 20px;
    text-align: center;
    width: 100%;
    color: #384956;
}

.desktop {
    display: none;
}

.homepage-text-block {
    margin: 30px auto 25px auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #C1C0B9;
    box-shadow: 5px 5px #C1C0B9;
}

.homepage-text {
    margin: 10px;
}

.photo-block {
    display: none;
}

.bio-text-block {
    line-height: 2em;
    margin: 15px;
}

/* Navigation Overlay */
.hamburger {
    position: fixed;
    z-index: 2;
    right: 10px;
    width: 48px;
    height: 42px;
    padding: 11px 11px 10px 11px;
    margin-top: 2px;
    transition: background-color 1s ease;
    cursor: pointer;
}

.hamburger:hover {
    background-color: #F7F6E7;
    opacity: 0.9;
}

.hamburger-stripe {
    background-color: #537791;
    height: 3px;
    margin-bottom: 5px;
}

.desktop-hamburger {
    display: none;
}

.change .hamburger-top {
    transform: rotate(-45deg) translate(-4px, 8px);
}

.change .hamburger-middle {
    opacity: 0;
}

.change .hamburger-bottom {
    transform: rotate(45deg) translate(-3px, -8px);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F7F6E7;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
}

.show-overlay {
    width: 100%;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.block-navigation-link {
    display: block;
    font-size: 48px;
    margin: 25px;
}

/* General Text Emphasis Classes */

.bigger {
    font-size: 24px;
    font-weight: bold;
}

.biggest {
    font-size: 32px;
    font-weight: bold;
}

.script-font {
    font-family: 'Lobster Two', Helvetica, sans-serif;
}

@media screen and (min-width: 425px) {
    .background {
        height: 350px;
        width: 600px;
    }

    .nav {
        top: -350px;
    }
    
    .name {
        font-size: 40px;
    }

    .contact-container {
        width: 90%;
    }
}

@media screen and (min-width: 550px) {
    .background {
        height: 400px;
        width: 750px;
    }

    .nav {
        top: -400px;
    }

    .name {
        font-size: 56px;
    }

    .hamburger {
        margin-top: 4px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 40px;
    }

    .more-info-container {
        width: 80%;
    }

    .portfolio-content {
        margin: 40px auto;
    }
}

@media screen and (min-width: 750px) {
    .background {
        height: 500px;
        width: 950px;
    }

    .homepage {
        position: relative;
        top: -425px;
    }


    .top-section-header {
        margin: 0px auto 50px auto;
        padding-top: 25px; 
    }

    .personal-photo {
        display: block;
        margin: 10px;
        width: 200px;
        border: 1px solid #C1C0B9;
        border-radius: 8px;
        box-shadow: 1px 1px #C1C0B9;
    }

    .text-block {
        width: 80%;
    }

    .homepage-text-block {
        position: absolute;
        top: 25px;
        left: 55px;
        width: 50%;
        margin: 0px;
        padding: 0px;
        background: none;
        border: none;
        box-shadow: none;
    }

    .nav {
        top: -500px;
    }

    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 48px;
    }

    section {
        position: relative;
    }

    .info-container {
        flex-direction: row;
    }

    .more-info-container {
        width: 60%;
        margin-top: 15px;
    }

    .about-section-block {
        width: 100%;
    }
}

@media screen and (min-width: 925px) {
    .background {
        height: 700px;
        width: 1200px;
    }

    .homepage-text-block {
        top: -75px;
    }

    .titles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 450px;
    }

    .portfolio-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 60px auto;
    }

    .snapshot-container {
        width: 40%;
    }

    .personal-photo {
        width: 300px;
    }

    .homepage {
        top: -525px;
    }

    .portfolio-text {
        width: 55%;
    }

    .nav {
        top: -700px;
        margin-left: 50px;
    }

    .more-info-container {
        width: 100%;
        margin-top: 15px;
    }

    .contact-container {
        margin: 25px auto 0px auto;
    }

    .mobile {
        display: none;
    }

    .desktop-block {
        display: block;
    }

    h2 {
        margin: 50px auto;
    }

    .photo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    .about-section-block {
        width: 60%;
    }

    .desktop-hamburger {
        display: block;
        position: fixed;
        top: 21px;
        left: 2px;
    }
}

@media screen and (min-width: 1100px) {
    .titles-container {
        width: 500px;
    }

    .more-info-container {
        width: 85%;
    }

    .desktop-hamburger {
        left: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .background {
        height: 933px;
        width: 1600px;
    }

    .nav {
        top: -933px;
        margin: 20px 20px 20px 60px;
    }

    .homepage {
        top: -800px;
    }

    .desktop-hamburger {
        top: 31px;
        left: 10px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px;
        margin: auto;
    }
}