* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 0 50px 0;
    background-color: #E7E6E1;
    font-family: 'Roboto', sans-serif;
}

section {
    margin: auto;
}

nav {
    width: 100%;
    top: 0px;
}

.nav {
    font-family: 'Lobster Two', Helvetica, sans-serif;
    position: relative;
    top: -250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.background {
    height: 250px;
    width: 100%;
    background: url('./images/sam-lake-louise.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(247,246,231,1), rgba(247,246,231,0));
}

.name {
    font-size: 48px;
    font-weight: bold;
    color: #384956;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:focus {
    color: #384956;
    font-weight: bolder;
}

.sub-heading {
    font-size: 40px;
}

.title {
    font-weight: bold;
    color: #537791;
}

.personal-photo {
    margin: 25px 0px;
    width: 90%;
    border: 1px solid #C1C0B9;
    border-radius: 8px;
    box-shadow: 1px 1px #C1C0B9;
}

.homepage {
    text-align: center;
}

.text-block {
    margin: auto;
}

p {
    margin: 0px 15px;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    color: #384956;
}

h2 {
    color: #384956;
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster Two', Helvetica, sans-serif;
    margin: 150px auto 100px auto;
    padding: 50px;
}

h3 {
    font-family: 'Lobster Two', Helvetica, sans-serif;
    color: #384956;
    text-align: center;
    font-size: 32px;
    margin: 15px;
    transition: color .5s ease;
}

.snapshot-container {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.vertical-snapshot-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.portfolio-snapshot {
    margin: 25px 0px;
    width: 90%;
    height: 90%;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
}

.more-info-container {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 10px auto 25px auto;
}

.info-container {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    padding: 10px 20px;
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #C1C0B9;
    box-shadow: 5px 5px #C1C0B9;
}

.contact-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto;
}

.email-address {
    color: #537791;
    transition: color .5s ease;
}

.email-address:hover {
    color: #384956;
    font-weight: bold;
}

.links {
    font-size: 24px;
    color: #537791;
    font-weight: bold;
    transition: color .5s ease;
}

.links:hover {
    color: #384956;
    font-weight: bolder;
}

.divider {
    font-size: 24px;
    color: #537791;
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo-image {
    width: 50px;
    margin: 5px;
}

.contact {
    color: #384956;
    font-weight: bolder;
}

.desktop {
    display: none;
}

@media screen and (min-width: 500px) {
    .background {
        height: 400px;
        width: 750px;
    }

    .nav {
        top: -400px;
    }

    .name {
        font-size: 56px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 40px;
    }
}

@media screen and (min-width: 700px) {
    .background {
        height: 500px;
        width: 950px;
    }

    .homepage {
        position: relative;
        top: -500px;
    }

    .title {
        transition: color .5s ease;
    }

    .title:hover {
        color: #384956;
        font-weight: bolder;
    }

    .personal-photo {
        width: 200px;
        height: 200px;
        margin: 10px;
    }

    .text-block {
        width: 80%;
    }

    .homepage-text {
        position: absolute;
        top: 25px;
        left: 55px;
        width: 40%;
    }

    .nav {
        top: -500px;
    }

    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 48px;
    }

    section {
        position: relative;
    }

    .portfolio-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        max-width: 1000px;
        padding: 10px 20px;
        background: #fff;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #C1C0B9;
        box-shadow: 5px 5px #C1C0B9;

    }

    .more-info-container {
        width: 200px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 925px) {
    .background {
        height: 700px;
        width: 1200px;
    }

    .titles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 450px;
    }

    .portfolio-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .personal-photo {
        width: 300px;
        height: 300px;
    }

    .homepage {
        top: -700px;
    }

    .portfolio-text {
        width: 55%;
    }

    .nav {
        top: -700px;
    }

    .contact-container {
        margin: 25px auto;
    }

    .mobile {
        display: none;
    }

    .desktop-block {
        display: block;
    }
}

@media screen and (min-width: 1100px) {
    .titles-container {
        width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .background {
        height: 933px;
        width: 1600px;
        background: url('./images/sam-lake-louise.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        -webkit-mask-image: -webkit-linear-gradient(top, rgba(247,246,231,1), rgba(247,246,231,0));
    }

    .nav {
        top: -933px;
        margin: 20px;
    }

    .homepage {
        top: -875px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px;
        margin: auto;
    }
}